# Byte-compiled files
__pycache__/
*.py[cod]

# Packages
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
bin/
var/
sdist/
develop-eggs/
.installed.cfg
lib/
lib64/
*.so

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Environments
env/
venv/
ENV/
env.bak/
venv.bak/

# PyCharm
.idea/
*.iml

# VSCode
.vscode/
.history/

# Pytest
.cache

# Distribution/Packaging
.Python
*.pyo
*.pyd

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Pylint
.pylint.d/

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Jupyter Notebook
.ipynb_checkpoints

# Flask
instance/
.webassets-cache

# Scrapy
.scrapy

# Sphinx documentation
docs/_build/

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments files
.env
.env.*

# Datasets
Dataset/